body {
	text-align: center;
	text-decoration: none;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #OD2C40;
	letter-spacing: 1px;
	font-size: 45px;
}

a {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #F15B31;
	letter-spacing: 1px;
	font-size: 18px;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #OD2C40;
	letter-spacing: 1px;
	font-size: 18px;
}

p {
	font-family: "Droid Serif", sans-serif;
	line-height: 26px;
	font-size: 18x;
}